---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import EventInfo from '../components/EventInfo.astro';
import Categories from '../components/Categories.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="OCR Danger Extreme | 1 Agosto 2026 - Antigua, Fuerteventura">
  <main>
    <Hero />
    <EventInfo />
    <Categories />
  </main>
  <Footer />
</Layout>

